# Entorno
.env
.env.local
*.pem
*.ppk

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/
.angular/

# IDE / OS
.idea/
.vscode/
*.swp
Thumbs.db
Desktop.ini

# Docker volúmenes locales
docker-data/
