# Variables de entorno (opcional - docker-compose.yml ya incluye valores por defecto)
POSTGRES_USER=coop_admin
POSTGRES_PASSWORD=core_pass_2026
POSTGRES_DB=core_bancario
REPLICATION_USER=replicator
REPLICATION_PASSWORD=replica_pass_2026

PGADMIN_DEFAULT_EMAIL=admin@coop.pe
PGADMIN_DEFAULT_PASSWORD=admin2026

SYNC_INTERVAL=120
